{% extends 'base.html.twig' %}
{% set modepreference = templateVars[1] %}

<!DOCTYPE html>

<html>
  {% block content %}

        <div class="container-fluid text-center">
          <header>
            <h1>
              Bienvenu sur l'application !
            </h1>
            <ul class="nav nav-tabs justify-content-center">
              <li>
                {% if templateVars[2] == "ROLE_ADMIN" %}
                  <button onclick="location.href = '/dashboard'" type="button" style="margin-right: 20px;" class="btn btn-outline-info">Tableau de bord</button>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">La Carte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reservation">Réserver une table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Nous Contacter</a>
              </li>
              {% if id == "unauthentificated" %}
                <li>
                  <button onclick="location.href = '/userLogin'" type="button" style="margin-left: 10px;" class="btn btn-outline-success">Connexion</button>
                </li>
                <li>
                  <button onclick="location.href = '/userCreate'" type="button" style="margin-left: 10px;" class="btn btn-outline-primary">Créer un compte</button>
                </li>
              {% else %}
                <li>
                  <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" type="button" style="margin-left: 10px;" class="btn btn-outline-info">{{ templateVars[0] }}</button>
                </li>
              {% endif %}
            </ul>
          </header>
          <h2 style="margin-top:10vh;">
            Quai Antique
          </h2>
        <!-- Content of home page ! -->
        <div class="row justify-content-aound">
          <div class="col-5">
            <img src="/Images/Homepage/1.png" style="height: 100vh; width: 120vh" alt="Brochette de légumes du chef !" />
          </div>
          <div class="col-5">
            <img src="/Images/Homepage/2.png" style="height: 100vh; width: 120vh" alt="Brochette de légumes du chef !" />
          </div>
          <div class="col-5">
            <img src="/Images/Homepage/3.png" style="height: 100vh; width: 120vh" alt="Brochette de légumes du chef !" />
          </div>
          <div class="col-5">
            <img src="/Images/Homepage/4.png" style="height: 100vh; width: 120vh" alt="Brochette de légumes du chef !" />
          </div>
        </div>

        <button onclick="location.href = '/reservation'" type="button" style="margin-left: 10px;" class="btn btn-outline-success">Réservez maintenant !</button>






          <!-- offcanvas for user settings -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ id }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="row justify-content-center">
                <div class="col-12">
                  <button onclick="location.href = '/information'" type="button" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Informations de compte</button>
                </div>
                <div class="col-12">
                  <button type="button" onclick="location.href = '/settings'" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Préferences de compte</button>
                </div>
                <div class="col-12">
                  <button onclick="location.href = '/userLogout'" style="margin-bottom: 10px;" type="button" class="btn btn-outline-warning">Déconnexion</button>
                </div>
              </div>
            </div>
          </div>

        </div>
  {% endblock %}

  {% block footer %}
  {% endblock %}
</html>